#cta-btn {
    text-transform: uppercase;
    width: 300px;
}

#social-media-btn,
#return-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    color: black;
    border: 1px solid black;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 25px;
}

#submit-form-btn {
    display: flex;
    justify-content: center;
    background-color: $msb-purple;
    color: white;
    width: 300px;
    padding: 12px 24px;
    margin: 20px;
    border-radius: 25px; 
}

#image-container #cta-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $msb-red;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 25px;
}

#image-container #cta-btn:hover {
    background-color: $msb-btn-hover;
    color: black;
}