h1 {
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;
}

.info-text,
p.info-text,
input,
label,
textarea.form-control {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;
}

#msb-slogan {
    font-size: 18px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
}

nav p {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;
}

.p-search {
    text-transform: uppercase;
}

nav .p-location {
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: 300;
    text-transform: uppercase;
}

main a {
    font-size: 14px;
    font-family: 'Poppins';
    color: $msb-purple;
}

main a:hover {
    color: $msb-a-tag-hover;
}

footer a {
    font-size: 16px;
    font-family: 'Poppins';
}

footer a:hover {
    color: $msb-a-tag-hover;
}

.btn {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
}

.review-text {
    font-size: 14px;
    font-family: 'Poppins';
}