#msb-footer {
    background-color: $msb-light-gray;
    padding: 40px 0px 0px 0px;

        a {
            color: black;
        }

        h2 {
            margin: 10px 0px 10px 0px;
        }

        h3 {
            text-transform: uppercase;
            font-weight: 300;
        }

        p {
            padding-bottom: 10px;
            font-weight: 300;
        }

        li {
            margin-left: -30px;
        }
}

#footer-line {
    border: 1px solid rgb(0, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#slogan-container {
    margin: 20px 20px 20px 20px;

    #msb-slogan {
        font-size: 32px;
        font-weight: 600;
    }
}

#msb-footer-image {
    display: flex;
    justify-content: flex-end;
        #msb-footer-graphics {
            width: 80vw;
            max-width: 800px;
        }
}

