/**
* Form
*/
#form-content {
    margin: 20px;
}

#last-reviewed {
    background-color: $cool-gray-11;
    color: white;
    width: 80%;
    margin: 10%;
    padding: 10px;

    .review-text {
        display: flex;
        margin: 0;
        padding: 10px;
        justify-content: center;
    }
}