/**
* CTA (image and button) Section
*/
#image-container {
    position: relative;
    width: 100%;

    #main-image {
        max-width: 100%;
        height: auto;
    }
}

#main-content-info {
    margin: 40px 20px 40px 20px;
}

/**
* About treefalling-report Section
*/
#about-report-container {
    border: 1px solid $cool-gray-1;
    padding-bottom: 10px;
    margin: 40px 20px 40px 20px;

        h2 {
            background-color: $cool-gray-1;
            padding: 10px;
            margin: 0;
        }

        h3 {
            font-size: 11px;
            text-transform: uppercase;
            padding: 10px;
            margin: 0;
        }

        .info-text {
            padding: 10px;
        }

        a {
            padding: 10px;
            font-size: 16px;
        }

        i {
            padding: 10px;
        }

        #recommended-sites {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            #sites-line {
                border: 1px solid rgb(0, 0, 0);
                width: 50%;
                height: 1px;
                margin-left: 20px;
            }
        }
}

/**
* MSB Diagram Section
*/
#msb-graphics-report {
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;

    #msb-circle-diagram {
        width: 300px;

        @media screen and (min-width: 768px) {
            width: 500px;
        }

        @media screen and (min-width: 1024px) {
            width: 600px;
        }
    }
}

/*
* MSB Contacts Section
*/
#msb-contacts {
    display: flex;
    justify-content: center;
    margin: 40px 20px 40px 20px;

    #contacts-header {
        border-bottom: 3px solid $msb-red;
        padding: 10px;
        margin: 0;
    }

    #contact-1,
    #contact-2 {
        width: 300px;
        margin: 40px 20px 40px 20px;  
    }

    .msb-contacts-background {
        margin-top: 10px;
        background-color: $cool-gray-1;
        border-radius: 50%;
    }

    .card-img-top {
        border-radius: 50%;
    }
}

/**
* About MSB Section
*/
#about-msb {
    margin: 40px 20px 40px 20px;

    h2 {
        padding: 10px 0px 10px 0px;
        margin: 0;
    }
}

#about-msb li {
    margin-bottom: 10px;
    margin-left: -30px;
}

/**
* General elements
*/
.fa-chevron-right,
.fa-house {
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    margin: 0;
}