/**
* CTA (image and button)
*/
#image-container {
    position: relative;
    width: 100%;

    #main-image {
        max-width: 100%;
        height: auto;
    }
}

#main-content-info {
    margin: 40px 20px 40px 20px;
}

/**
* About report
*/
#about-report-container {
    border: 1px solid $cool-gray-1;
    margin: 40px 20px 40px 20px;

        h2 {
            background-color: $cool-gray-1;
            padding-left: 8px;
        }

        h3 {
            font-size: 11px;
            text-transform: uppercase;
            margin: 0;
            margin-left: 8px;
        }

        .info-text {
            padding-left: 4px;
        }

        a {
            padding-left: 8px;
            font-size: 16px;
        }

        i {
            padding: 4px;
            margin-left: 4px;
        }

        #recommended-sites {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            #sites-line {
                border: 1px solid rgb(0, 0, 0);
                width: 50%;
                height: 1px;
                margin-left: 20px;
            }
        }
}

/**
* About MSB
*/
#about-msb {
    margin: 40px 20px 40px 20px;

    h2 {
        padding: 10px 0px 10px 0px;
    }
}

#about-msb li {
    margin-bottom: 10px;
    margin-left: -30px;
}

/**
* Form
*/
#form-content {
    margin: 20px;
}

#last-reviewed {
    background-color: $cool-gray-11;
    color: white;
    width: 80%;
    margin: 10%;
    padding: 10px;

    .review-text {
        display: flex;
        margin: 0;
        padding: 10px;
        justify-content: center;
    }
}