/**
* CTA (image and button)
*/
#image-container {
    position: relative;
    width: 100%;

    #main-image {
        max-width: 100%;
        height: auto;
    }
}

#image-container #cta-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $msb-red;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 25px;
}

#image-container #cta-button:hover {
    background-color: $msb-hover;
    color: black;
  }

#report-container {
    border: 1px solid $cool-gray-1;
    margin: 15px;
        h3 {
            background-color: $cool-gray-1;
        }
}