#navigation {
    display: flex;
    justify-content: space-between;
    background-color: white;
    
    #logo {
        margin-left: 10px;
    }

    p-menu,
    p-search {
        font-size: 16px;
    }

    i {
        margin-right: 10px;
    }

    #mobile-navigation-options {
        display: flex;
        justify-content: space-evenly;
        width: 200px;
        padding-right: 10px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    #larger-screens-navigation-options {
        display: flex;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    #larger-screens-navigation-options ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 60vw;
    }

    #larger-screens-navigation-options li {
        display: flex;
        align-items: center;
    }
}

#location {
    background-color: $msb-light-gray;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 30px;

    p {
        font-size: 16px;
        padding: 0px 10px 0px 10px;
        margin: 0;
    }
}