#navigation {
    background-color: $white;
    padding: 0;
    
    p {
        font-size: 16px;
        margin: 0;
    }
}

#location {
    background-color: $msb-light-gray;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 30px;

    p {
        font-size: 16px;
        margin: 0;
    }
}

#logo {
    padding: 10px;
}